<!DOCTYPE html>
    <html>
        <head>

            <link rel="icon" href="data:,">
            <title>
                UGG
            </title>
        </head>
        <body>
            <h1>
                Username & Group Generator
            </h1>

            <p>
                {{ username }}
            </p>

            <button onclick="window.location.reload();">
                Generate Username
            </button>



            {% for user in userData %}

                <h3>{{ user.user_name }}</h3>
    
                <p> Your chosen Team: {{ user.group }}</p>

            {% endfor %}







        </body>
    </html>   